.rate {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  width: 550px;
  margin: auto;

  &__star {
    fill: #d3d3d3;
    transition: fill 0.3s;
    cursor: pointer;
  }

  &__label:hover {
    & .rate__star {
      fill: #ffe8a0;
    }

    & ~ .rate__label .rate__star {
      fill: #ffe8a0;
    }
  }

  &__input {
    display: none;

    &:checked {
      & ~ .rate__label .rate__star {
        fill: #ffd245;
      }
    }
  }
}
