.chessboard {
  position: relative;
  width: 50%;
  border: 6px #2c2c2c solid;
  border-radius: 20px;
  padding: 20px;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__board {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
  }

  &__square {
    width: calc(100% / 8);
    height: calc(100% / 8);

    &_black {
      background-color: #2c2c2c;
    }
  }
}
