.container {
  width: 100%;
  height: 700px;
  position: relative;

  &__bubble {
    position: absolute;
    left: 25%;
    top: 5%;
    animation: rotate 10s infinite linear;
  }

  &__person {
    position: relative;
    z-index: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
