.slider {
  position: relative;
  width: 705px;
  height: 720px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 86px 0 90px;
  overflow: hidden;

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 597px;
  }

  &__image {
    position: absolute;
    object-fit: contain;
    height: 597px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 69px;
  }

  &__button {
    position: relative;
    top: 657px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;

    & + & {
      margin-left: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #4082f2;
    }

    &::before {
      content: "";
      position: absolute;
      top: -23%;
      left: -20%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px solid #fff;
      transition: border-color 0.3s, opacity 0.3s;
      opacity: 0.5;
    }

    &_blue {
      &::after {
        background-color: #4082f2;
      }

      &:hover::before {
        border-color: #4082f2;
      }

      &:checked {
        &::before {
          border-color: #4082f2;
          opacity: 1;
        }

        & ~ .slider__images .slider__image_blue {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    &_pink {
      &::after {
        background-color: #ff76a3;
      }

      &:hover::before {
        border-color: #ff76a3;
      }

      &:checked {
        &::before {
          border-color: #ff76a3;
          opacity: 1;
        }

        & ~ .slider__images .slider__image_pink {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    &_white {
      &::after {
        background-color: #c9c9c9;
      }

      &:hover::before {
        border-color: #c9c9c9;
      }

      &:checked {
        &::before {
          border-color: #c9c9c9;
          opacity: 1;
        }

        & ~ .slider__images .slider__image_white {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}
